<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="footerScripts">

        <!-- REQUIRED SCRIPTS -->
        <!-- jQuery -->
        <script type="text/javascript" src="/static/vendor/adminlte/plugins/jquery/jquery.min.js" th:src="@{/vendor/adminlte/plugins/jquery/jquery.min.js}"></script>

        <!-- Bootstrap -->
        <script type="text/javascript" src="/static/vendor/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/vendor/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>

        <!-- Select2 -->
        <script type="text/javascript" src="/static/vendor/adminlte/plugins/select2/js/select2.full.min.js" th:src="@{/vendor/adminlte/plugins/select2/js/select2.full.min.js}"></script>

        <!-- overlayScrollbars -->
        <script type="text/javascript" src="/static/vendor/adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js" th:src="@{/vendor/adminlte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js}"></script>

        <!-- AdminLTE App -->
        <script type="text/javascript" src="/static/vendor/adminlte/dist/js/adminlte.js" th:src="@{/vendor/adminlte/dist/js/adminlte.js}"></script>

        <!-- OPTIONAL SCRIPTS -->
        <script type="text/javascript" src="/static/vendor/adminlte/dist/js/demo.js" th:src="@{/vendor/adminlte/dist/js/demo.js}"></script>

        <!-- PAGE PLUGINS -->
        <!-- jQuery Mapael -->
<!--        <script type="text/javascript" src="/static/vendor/adminlte/plugins/jquery-mousewheel/jquery.mousewheel.js" th:src="@{/vendor/adminlte/plugins/jquery-mousewheel/jquery.mousewheel.js}"></script>-->
<!--        <script type="text/javascript" src="/static/vendor/adminlte/plugins/raphael/raphael.min.js" th:src="@{/vendor/adminlte/plugins/raphael/raphael.min.js}"></script>-->
<!--        <script type="text/javascript" src="/static/vendor/adminlte/plugins/jquery-mapael/jquery.mapael.min.js" th:src="@{/vendor/adminlte/plugins/jquery-mapael/jquery.mapael.min.js}"></script>-->
<!--        <script type="text/javascript" src="/static/vendor/adminlte/plugins/jquery-mapael/maps/usa_states.min.js" th:src="@{/vendor/adminlte/plugins/jquery-mapael/maps/usa_states.min.js}"></script>-->

        <!-- ChartJS -->
        <script type="text/javascript" src="/static/vendor/adminlte/plugins/chart.js/Chart.min.js" th:src="@{/vendor/adminlte/plugins/chart.js/Chart.min.js}"></script>

        <!-- InputMask -->
        <script type="text/javascript" src="/static/vendor/adminlte/plugins/moment/moment.min.js" th:src="@{/vendor/adminlte/plugins/moment/moment.min.js}"></script>
<!--        <script type="text/javascript" src="/static/vendor/adminlte/plugins/inputmask/min/jquery.inputmask.bundle.min.js" th:src="@{/vendor/adminlte/plugins/inputmask/min/jquery.inputmask.bundle.min.js}"></script>-->

        <!-- date-range-picker -->
        <!-- Not working properly Admin-LTE plugin code :: DateRangeChooser -->
        <!-- <script type="text/javascript" src="/static/vendor/adminlte/plugins/daterangepicker/daterangepicker.js" th:src="@{/vendor/adminlte/plugins/daterangepicker/daterangepicker.js}"></script>-->
        <script type="text/javascript" src="/static/vendor/erplib/vendor/plugins/daterangepicker/daterangepicker.min.js" th:src="@{/vendor/erplib/vendor/plugins/daterangepicker/daterangepicker.min.js}"></script>

        <!-- Z-ERPLIB SCRIPTS -->
        <script type="text/javascript" src="/static/vendor/erplib/js/JsClientAPI.js" th:src="@{/vendor/erplib/js/JsClientAPI.js}"></script>

        <!-- Others: Common SCRIPTS -->
        <script type="text/javascript" src="/static/js/leftsideMenuCache.js" th:src="@{/js/leftsideMenuCache.js}"></script>


        <!-- Bootstrap4 Duallistbox -->
        <script src="/static/vendor/adminlte/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js" th:src="@{/vendor/adminlte/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js}"></script>

        <!-- date-range-picker -->
        <script src="/static/vendor/adminlte/plugins/daterangepicker/daterangepicker.js" th:src="@{/vendor/adminlte/plugins/daterangepicker/daterangepicker.js}"></script>
        <!-- bootstrap color picker -->
        <script src="/static/vendor/adminlte/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js" th:src="@{/vendor/adminlte/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js}"></script>
        <!-- Tempusdominus Bootstrap 4 -->
        <script src="/static/vendor/adminlte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js" th:src="@{/vendor/adminlte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js}"></script>
        <!-- Bootstrap Switch -->
        <script src="/static/vendor/adminlte/plugins/bootstrap-switch/js/bootstrap-switch.min.js"  th:src="@{/vendor/adminlte/plugins/bootstrap-switch/js/bootstrap-switch.min.js}"></script>
        <!-- BS-Stepper -->
        <script src="/static/vendor/adminlte/plugins/bs-stepper/js/bs-stepper.min.js"  th:src="@{/vendor/adminlte/plugins/bs-stepper/js/bs-stepper.min.js}"></script>
        <!-- dropzonejs -->
        <script src="/static/vendor/adminlte/plugins/dropzone/min/dropzone.min.js"  th:src="@{/vendor/adminlte/plugins/dropzone/min/dropzone.min.js}"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
        <script type="text/javascript" src="/static/js/leftSideMenuLoad.js" th:src="@{/js/leftSideMenuLoad.js}"></script>



    </div>

</html>
