<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--Pagination work start -------------------------------------------------------------- -->
<div th:fragment="defaultPagination" th:if = "${totalPages > 1}">

    <ul class="pagination pagination-sm m-0 float-right">
        <li class="page-item">
            <a class="page-link" href="#" th:if = "${currentPage > 1}" th:href="@{ ${pagePath} + '?pageNum=1'+ '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&' + ${queryParams}}">First</a>
            <span class="page-link" th:unless="${currentPage > 1}">First</span>
        </li>

        <li class="page-item">
            <a class="page-link" href="#" th:if = "${currentPage > 1}" th:href="@{ ${pagePath} + '?pageNum=' + ${currentPage - 1}+ '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&' + ${queryParams}}">&laquo;</a>
            <span class="page-link" th:unless="${currentPage > 1}">&laquo;</span>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" th:if = "${currentPage > 1}" th:href="@{ ${pagePath} + '?pageNum=' + ${currentPage - 1}+ '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&' + ${queryParams}}">Prev</a>
            <span class="page-link" th:unless="${currentPage > 1}">Prev</span>
        </li>



        <li class="page-item disabled" th:if="${currentPage > 7}">
            <a class="page-link" href="#">
                <i class="fas fa-ellipsis-h"></i>
            </a>
        </li>
        <!--
        <li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}">
            <a class="page-link" th:if="${currentPage != i}" th:href="@{ ${pagePath} + '?pageNum=' + ${i}+ '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
            <a class="page-link active" th:unless="${currentPage != i}">[[${i}]]</a>  &nbsp; &nbsp;
        </li>
        -->
        <!--        <li class="page-item" th:classappend="${i eq currentPage} ? 'active'"-->
        <!--            th:each="i : ${#numbers.sequence( currentPage, totalPages > 7 + currentPage ? currentPage + 7 : totalPages, 1)}">-->
        <!--            <a class="page-link" th:href="@{ ${pagePath} + '?pageNum=' + ${i}+ '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>-->
        <!--        </li>-->

        <!--            Simple Work-1-->
        <!--        <li class="page-item" th:classappend="${i eq currentPage} ? 'active'"-->
        <!--            th:each="i : ${#numbers.sequence( totalPages > 7 ? currentPage : 1, totalPages > 7 + currentPage ? currentPage + 7 : totalPages, 1)}">-->
        <!--            <a class="page-link" th:href="@{ ${pagePath} + '?pageNum=' + ${i}+ '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>-->
        <!--        </li>-->

        <!--            Simple Work-2-->
        <!--        <li class="page-item" th:classappend="${i eq currentPage} ? 'active'"-->
        <!--            th:each="i : ${#numbers.sequence( totalPages > 7 ? ( (currentPage + 7) > totalPages ? totalPages - 7 : currentPage ) : 1, totalPages > 7 + currentPage ? currentPage + 7 : totalPages, 1)}">-->
        <!--            <a class="page-link" th:href="@{ ${pagePath} + '?pageNum=' + ${i}+ '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>-->
        <!--        </li>-->
        <!--        <div th:with="someVariable=${someValue}" th:remove="tag"></div>-->
<!--        <div th:if="${currentPage < 3}" th:remove="tag">-->
<!--            <li class="page-item" th:classappend="${i eq currentPage} ? 'active'"-->
<!--                th:each="i : ${#numbers.sequence( totalPages > 7 ? ( (currentPage + 7) > totalPages ? totalPages - 7 : 1 ) : 1, totalPages > 7 + currentPage ? currentPage + 7 : totalPages, 1)}">-->
<!--                <a class="page-link" th:href="@{ ${pagePath} + '?pageNum=' + ${i}+ '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&' + ${queryParams}}">[[${i}]]</a>-->
<!--            </li>-->
<!--        </div>-->
<!--        <div th:unless="${currentPage < 3}" th:remove="tag">-->

<!--            <div th:if="${currentPage == 3}" th:remove="tag">-->
<!--                <li class="page-item" th:classappend="${i eq currentPage} ? 'active'"-->
<!--                    th:each="i : ${#numbers.sequence( totalPages > 7 ? ( (currentPage + 7) > totalPages ? totalPages - 7 : currentPage - 2 ) : 1, totalPages > 7 + currentPage ? currentPage + 4 : totalPages, 1)}">-->
<!--                    <a class="page-link" th:href="@{ ${pagePath} + '?pageNum=' + ${i}+ '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&' + ${queryParams}}">[[${i}]]</a>-->
<!--                </li>-->
<!--            </div>-->
<!--            <div th:unless="${currentPage == 3}" th:remove="tag">-->
<!--                <li class="page-item" th:classappend="${i eq currentPage} ? 'active'"-->
<!--                    th:each="i : ${#numbers.sequence( totalPages > 7 ? ( (currentPage + 7) > totalPages ? totalPages - 7 : currentPage - 3 ) : 1, totalPages > 7 + currentPage ? currentPage + 4 : totalPages, 1)}">-->
<!--                    <a class="page-link" th:href="@{ ${pagePath} + '?pageNum=' + ${i}+ '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&' + ${queryParams}}">[[${i}]]</a>-->
<!--                </li>-->
<!--            </div>-->

<!--        </div>-->



<!--        <li class="page-item disabled" th:if="${currentPage + 7 < totalPages}">-->
<!--            <a class="page-link" href="#">-->
<!--                <i class="fas fa-ellipsis-h"></i>-->
<!--            </a>-->
<!--        </li>-->



        <li class="page-item">
            <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{ ${pagePath} + '?pageNum=' + ${currentPage + 1}+ '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&' + ${queryParams}}">Next</a>
            <span class="page-link" th:unless="${currentPage < totalPages}">Next</span>
        </li>
        <li class="page-item">
            <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{ ${pagePath} + '?pageNum=' + ${currentPage + 1}+ '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&' + ${queryParams}}">&raquo;</a>
            <span class="page-link" th:unless="${currentPage < totalPages}">&raquo;</span>
        </li>

        <li class="page-item">
            <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{ ${pagePath} + '?pageNum=' + ${totalPages}+ '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&' + ${queryParams}}">Last</a>
            <span class="page-link" th:unless="${currentPage < totalPages}">Last</span>
        </li>
    </ul>

    <div class = "pagination pagination-sm m-0 float-right mr-5">
        <b>Total Rows: [[${totalItems}]]</b>
    </div>

</div>
<!--/.Pagination work end --------------------------------------------------------------- -->


</html>