<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--suppress CheckTagEmptyBody -->
    <!--alternative solution to use th:block in header fragment -->
    <th:block th:include="/layouts/_head :: head"></th:block>
    <title id="pageTitle">User Role</title>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
    <!-- Navbar -->
    <div th:replace="/layouts/_header :: header"></div>

    <!-- Main Sidebar Container -->
    <div th:insert="/layouts/_mainSidebarx :: mainSidebar"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">User Role</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">User Role</a></li>
                            <li class="breadcrumb-item active">Edit</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">



                <!-- Horizontal Form -->
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Edit User Role</h3>
                        &nbsp;&nbsp;
                        <a href="/user/index" th:href="@{/userrole/index}" class=""><i class="fas fa-long-arrow-alt-left"></i> Back to List</a>
                        &nbsp;|&nbsp;
                        <a href="/user/create" th:href="@{/userrole/create}" class=""><i class="fas fa-file-alt"></i> New Form</a>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form action="#" th:action="@{/userrole/update}" th:object="${object}" method="post" class="form-horizontal">
                        <div class="card-body">

<!--                            <input type="hidden" id="id" th:field="*{id}">-->

                            <div class="form-group row">
                                <label for="id" class="col-form-label col-sm-2 ">ID</label>
                                <div class="col-sm-5">
                                    <input type="text" th:field="*{id}" class="form-control" id="id" readonly />
                                </div>
                                <div class="col-sm-5"><span th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="text-danger"></span></div>
                            </div>

                            <div class="form-group row">
                                <label for="user" class="col-form-label col-sm-2 ">User</label>
                                <div class="col-sm-5">
<!--                                    <input type="text" th:field="*{user}" class="form-control" id="authority" />-->
                                    <select th:field="*{user}" class="form-control" id="user">
                                        <option th:value="0" text="Please Select"></option>
                                        <option th:each="item : ${allUser}"
                                                th:value=${item.id}
                                                th:text=${item.username}>
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-5"><span th:if="${#fields.hasErrors('user')}" th:errors="*{user}" class="text-danger"></span></div>
                            </div>

                            <div class="form-group row">
                                <label for="role" class="col-form-label col-sm-2 ">Role</label>
                                <div class="col-sm-5">
<!--                                    <input type="text" th:field="*{role}" class="form-control" id="description" placeholder="" />-->
<!--                                    <select th:field="*{role}" class="form-control" id="role">-->
<!--                                        <option th:value="0" text="Please Select"></option>-->
<!--                                        <option th:each="item : ${allRoles}"-->
<!--                                                th:value=${item.id}-->
<!--                                                th:text=${item.authority}>-->
<!--                                        </option>-->
<!--                                    </select>-->
                                    <ul class="checkbox-list" >
                                        <li th:each="item : ${allRoles}" style="list-style: none">
                                            <input type="checkbox" class="form-check-input"  th:value="${item.id}" th:field="*{role}" id="role" th:text="${item.authority}"/>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-5"><span th:if="${#fields.hasErrors('role')}" th:errors="*{role}" class="text-danger"></span></div>
                            </div>


                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <a href="/menu/index" th:href="@{/userrole/index}" class="btn btn-default"><i class="fas fa-times"></i> Cancel</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="submit" class="btn btn-info"><i class="fas fa-check"></i> Update</button>
                        </div>
                        <!-- /.card-footer -->
                    </form>
                </div>
                <!-- /.card -->




            </div><!--/. container-fluid -->
        </section>
        <!-- /.content -->

    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->

    <!-- Main Footer -->
    <footer th:include="layouts/_footer :: footer" class="main-footer"></footer>

</div>
<!-- ./wrapper -->


<div th:include="layouts/_footerScripts :: footerScripts"></div>
<!-- PAGE SCRIPTS -->
<script type="text/javascript" src="/static/js/application.js" th:src="@{/js/application.js}"></script>


</body>
</html>