<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--suppress CheckTagEmptyBody, HtmlUnknownTag -->
    <!--alternative solution to use th:block in header fragment, HtmlUnknownTag, HtmlUnknownTag -->
    <th:block th:include="/layouts/_head :: head"></th:block>
    <title id="pageTitle">All Users</title>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
    <!-- Navbar -->
    <div th:replace="/layouts/_header :: header"></div>

    <!-- Main Sidebar Container -->
    <div th:insert="/layouts/_mainSidebarx :: mainSidebar"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Users</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">User</a></li>
                            <li class="breadcrumb-item active">Create</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">

                <!--suppress ThymeleafVariablesResolveInspection -->
                <div class="alert alert-warning alert-dismissible" th:if="${warningMgs}">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <i class="icon fas fa-check"></i>
                    <!--suppress ThymeleafVariablesResolveInspection -->
                    <span th:text="${warningMgs}"></span>
                </div>

                <!-- Horizontal Form -->
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Add User </h3>
                        &nbsp;&nbsp;
                        <a href="/user/index" th:href="@{/user/index}" class=""><i class="fas fa-long-arrow-alt-left"></i> Back to List</a>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form action="#" th:action="@{/user/save}" th:object="${user}" method="post" class="form-horizontal">
                        <div class="card-body">

                            <input type="hidden" id="id" th:field="*{id}">

                            <div class="form-group row">
                                <label for="username" class="col-form-label col-sm-2 ">Username</label>
                                <div class="col-sm-5">
                                    <input type="text" th:field="*{username}" class="form-control" id="username" placeholder="" />
                                </div>
                                <div class="col-sm-5"><span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></span></div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-form-label col-sm-2 ">Password</label>
                                <div class="col-sm-5">
                                    <input type="text" th:field="*{password}" class="form-control" id="password" placeholder="" />
                                </div>
                                <div class="col-sm-5"><span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></span></div>
                            </div>

                            <div class="form-group row">
                                <label for="displayName" class="col-form-label col-sm-2 ">Display Name</label>
                                <div class="col-sm-5">
                                    <input type="text" th:field="*{displayName}" class="form-control" id="displayName" placeholder="" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="userType" class="col-form-label col-sm-2 ">User Type</label>
                                <div class="col-sm-5">
                                    <input type="text" th:field="*{userType}" class="form-control" id="userType" placeholder="" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="phoneNumber" class="col-form-label col-sm-2 ">Phone Number</label>
                                <div class="col-sm-5">
                                    <input type="text" th:field="*{phoneNumber}" class="form-control" id="phoneNumber" placeholder="" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="email" class="col-form-label col-sm-2 ">Email</label>
                                <div class="col-sm-5">
                                    <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="fullAddress" class="col-form-label col-sm-2 ">Full Address</label>
                                <div class="col-sm-5">
                                    <input type="text" th:field="*{fullAddress}" class="form-control" id="fullAddress" placeholder="" />
                                </div>
                            </div>





                            <div class="form-group row">
                                <label for="registrationDate" class="col-form-label col-sm-2 ">Registration Date</label>
                                <div class="col-sm-5">
                                    <input type="date" th:field="*{registrationDate}" class="form-control" id="registrationDate" placeholder="" />
                                </div>
                            </div>

<!--                            <div class="form-group row">-->
<!--                                <label class="col-form-label col-sm-2 ">Date:</label>-->
<!--                                <div class="input-group date" id="reservationdate" data-target-input="nearest">-->
<!--                                    <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate"/>-->
<!--                                    <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">-->
<!--                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->


                            <div class="form-group row">
                                <label for="isApproved" class="col-form-label col-sm-2 ">Is Approved</label>
                                <div class="col-sm-5">
                                    <input type="text" th:field="*{isApproved}" class="form-control" id="isApproved" placeholder="" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="approvalDate" class="col-form-label col-sm-2 ">Approval Date</label>
                                <div class="col-sm-5">
                                    <input type="text" th:field="*{approvalDate}" class="form-control" id="approvalDate" placeholder="" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="roles" class="col-form-label col-sm-2 ">Roles</label>
                                <div class="col-sm-5 ">
                                    <ul class="checkbox-list" >
                                        <li th:each="role : ${ROLES}" style="list-style: none">
                                            <input type="checkbox" class="form-check-input"  th:value="${role.id}" th:field="*{roles}" id="roles" th:text="${role.authority}"/>
                                        </li>
                                    </ul>
                                </div>
                            </div>



                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <a href="/user/index" th:href="@{/user/index}" class="btn btn-default"><i class="fas fa-times"></i> Cancel</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="submit" class="btn btn-info"><i class="fas fa-check"></i> Create</button>
                        </div>
                        <!-- /.card-footer -->
                    </form>
                </div>
                <!-- /.card -->




            </div><!--/. container-fluid -->
        </section>
        <!-- /.content -->

    </div>
    <!-- /.content-wrapper -->

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->

<!-- Main Footer -->
<footer th:include="layouts/_footer :: footer" class="main-footer"></footer>

</div>
<!-- ./wrapper -->


<div th:include="layouts/_footerScripts :: footerScripts"></div>
<!-- PAGE SCRIPTS -->
<script type="text/javascript" src="/static/js/application.js" th:src="@{/js/application.js}"></script>

<script>
    $(function () {

        //Date picker
        $('#reservationdate').datetimepicker({
            format: 'L'
        });

        //Date and time picker
        $('#reservationdatetime').datetimepicker({ icons: { time: 'far fa-clock' } });

        //Date range picker
        $('#reservation').daterangepicker()
        //Date range picker with time picker
        $('#reservationtime').daterangepicker({
            timePicker: true,
            timePickerIncrement: 30,
            locale: {
                format: 'MM/DD/YYYY hh:mm A'
            }
        })


    })

</script>


</body>
</html>