<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--suppress CheckTagEmptyBody -->
    <!--alternative solution to use th:block in header fragment -->
    <th:block th:include="/layouts/_head :: head"></th:block>
    <title id="pageTitle">Visitors Log</title>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
    <!-- Navbar -->
    <div th:replace="/layouts/_header :: header"></div>

    <!-- Main Sidebar Container -->
    <div th:insert="/layouts/_mainSidebarx :: mainSidebar"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Visitors Log</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Visitors Log</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->





        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">


                <!--suppress ThymeleafVariablesResolveInspection -->
                <div class="alert alert-warning alert-dismissible" th:if="${warningMsg}">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <i class="icon fas fa-check"></i>
                    <!--suppress ThymeleafVariablesResolveInspection -->
                    <span th:text="${warningMsg}"></span>
                </div>


                <!-- --------------Search box start ---------------------------------------------------------------- -->

                <div class="card ">
                    <div class="card-body">

                        <form>

                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="ipAddress">IP Address</label>
                                    <input type="text" name="ipAddress" th:value="${param.ipAddress}" id="ipAddress" class="form-control form-control-sm">
                                </div>

                                <div class="form-group col-md-3">
                                    <label for="userId">User</label>
                                    <input type="text" name="userId" th:value="${param.userId}" id="userId" class="form-control form-control-sm">
                                </div>

                                <div class="form-group col-md-3">
                                    <label for="visitUrl">Visit URL</label>
                                    <input type="text" name="visitUrl" th:value="${param.visitUrl}" id="visitUrl" class="form-control form-control-sm">
                                </div>

                                <div class="form-group col-md-3" style="margin-top: 32px;">
                                    <button type="submit" class="form-control form-control-sm btn-warning" id="btnSubmit" style="display: inline-block;color: white;;width: 50%;"><i class="fas fa-search"></i> Submit</button>
                                    <a href="" th:href="@{/visitorslog/index}" class="form-control form-control-sm btn-default" style="display: inline-block;width: 40%;text-align: center">Reset</a>
                                </div>


                            </div>

                        </form>

                    </div>
                </div>

                <!-- --------------Search box end ------------------------------------------------------------------ -->


                <!-- Default box -->
                <div class="card">
                    <div class="card-header">

                        <a th:href="@{/visitorslog/create}" class="btn btn-primary"><i class="fas fa-plus-circle"> Add</i></a>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i></button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                                <i class="fas fa-times"></i></button>
                        </div>
                    </div>

                    <div class="card-body p-0">


                        <!-- Customize user body content -->
                        <div th:switch="${objectList}">

                            <div class="col-md-12">
                                <h2 th:case="null">No record found !!</h2>
                                <div th:case="*" class="table-responsive">

                                    <table class="table table-striped nowrapColumnTable">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>User</th>
                                                <th>User Agent</th>
                                                <th>Ip Address</th>
                                                <th>Referrer</th>
<!--                                                <th>Visit Page</th>-->
                                                <th>Visit Url</th>
                                                <th>Visit Time</th>
                                                <th>Last Active Time</th>
                                                <th>Internet Profile</th>
                                                <th>Internal Reference</th>
                                                <th>External Reference</th>
<!--                                                <th>Action Log</th>-->
<!--                                                <th>Creation DateTime</th>-->
<!--                                                <th>Creation User</th>-->
<!--                                                <th>Last UpdateDate Time</th>-->
<!--                                                <th>Last Update User</th>-->
                                                <th colspan="3" style="width: 210px; max-width: 210px;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="thisObj : ${objectList}">
                                                <td th:text="${thisObj.id}"></td>
                                                <td th:text="${thisObj.userId}"></td>
                                                <td th:text="${thisObj.userAgent}"></td>
                                                <td th:text="${thisObj.ipAddress}"></td>
                                                <td th:text="${thisObj.referrer}"></td>
<!--                                                <td th:text="${thisObj.visitPage}"></td>-->
                                                <td th:text="${thisObj.visitUrl}"></td>
                                                <td th:text="${#calendars.format(thisObj.creationDateTime, 'dd/MMM/yyyy hh:mm a')}"></td>
                                                <td th:text="${thisObj.lastActiveTime}"></td>
                                                <td th:text="${thisObj.internetProfile}"></td>
                                                <td th:text="${thisObj.internalReference}"></td>
                                                <td th:text="${thisObj.externalReference}"></td>
<!--                                                <td th:text="${thisObj.actionLog}"></td>-->
<!--                                                <td th:text="${thisObj.creationDateTime}"></td>-->
<!--                                                <td th:text="${thisObj.creationUser}"></td>-->
<!--                                                <td th:text="${thisObj.lastUpdateDateTime}"></td>-->
<!--                                                <td th:text="${thisObj.lastUpdateUser}"></td>-->

                                                <td class="text-nowrap" style="width: 70px;">
                                                    <a th:href="@{/visitorslog/show/{id}(id=${thisObj.id})}" class="btn btn-secondary btn-sm">
                                                        <i class="far fa-eye"></i> View
                                                    </a>
                                                </td>
                                                <td class="text-nowrap" style="width: 70px;">
                                                    <a th:href="@{/visitorslog/edit/{id}(id=${thisObj.id})}" class="btn btn-primary btn-sm">
                                                        <i class="far fa-edit"></i> Edit
                                                    </a>
                                                </td>
                                                <td class="text-nowrap" style="width: 70px;">
                                                    <a th:href="@{/visitorslog/delete/{id}(id=${thisObj.id})}" class="btn btn-danger btn-sm">
                                                        <i class="far fa-trash-alt"></i> Delete
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer clearfix" th:with="pagePath='/visitorslog/index'">
                                    <div th:include="layouts/_pagination :: defaultPagination"></div>
                                </div>

                            </div>
                            <!-- /.card -->


                        </div>
                        <!-- /. Customize user body content -->

                    </div>
                </div>




            </div><!--/. container-fluid -->
        </section>
        <!-- /.content -->





    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->

    <!-- Main Footer -->
    <footer th:include="layouts/_footer :: footer" class="main-footer"></footer>

</div>
<!-- ./wrapper -->


<div th:include="layouts/_footerScripts :: footerScripts"></div>

<!-- PAGE SCRIPTS -->
<script type="text/javascript" src="/static/js/application.js" th:src="@{/js/application.js}"></script>
<!-- PAGE STYLES -->
<link rel="stylesheet" href="/static/css/application.css" th:href="@{/css/application.css}">



</body>
</html>
